<!-- DB CASHOUT AND DB NQE COMPONENT PROGRESS BAR START -->
<ng-container *ngIf="checkresponse && isDbCashoutFlag && !showError">
    <al-dbcnq-progress-bar></al-dbcnq-progress-bar>
</ng-container>

<al-loading-indicator *ngIf="isDbCashoutFlag" id="pagelevel" loadingType="pageLevel"	[initialShow]="isDbCashoutPageLoading" 	loadingText="loading"></al-loading-indicator>

<ng-container *ngIf="showError && isDbCashoutFlag && checkresponse">
  <al-error></al-error>
</ng-container>
<!-- DB CASHOUT AND DB NQE COMPONENT PROGRESS BAR END -->
<ng-container *ngIf="!checkresponse">
  <al-loading-indicator id="pagelevel" loadingType="pageLevel" [initialShow]="true" loadingText="loading">
  </al-loading-indicator>
</ng-container>
<ng-container *ngIf="checkresponse">

  <div id="chooseHowMuchToRollOver" class="al-view-gt960 al-font-change al-spacing">
      <div class="al-u-10-16 al-480-w100 al-320-w100 al-720-w100">
        <div *ngIf="showError && !isDbCashoutFlag">
          <al-error></al-error> 
        </div>
        <div *ngIf="!showError">
            <form [formGroup]="form">
                <h1 [innerHTML]="data.chooseHowMuchToRollOver?.pageNameText"></h1>
                <al-dynamic-edit-loader (continueEdit)="continueEdit($event)" (cancelEdit) ="onCancel()"></al-dynamic-edit-loader>
                <p [innerHTML]="data.chooseHowMuchToRollOver?.rollOverContentText"></p>
                <al-tips-alerts [tipText]="'!'" [tipType]="'action'" [tipSize]="'medium'" [displayText]="" *ngIf="data.chooseHowMuchToRollOver?.alertHeaderText && data.chooseHowMuchToRollOver?.alertHeaderText != ''">
                  <h5 class="brand-alert-1 al-padding-left-1x" [innerHTML]="data.chooseHowMuchToRollOver.alertHeaderText"></h5>
                  <p class="al-padding-left-1x" [innerHTML]="data.chooseHowMuchToRollOver?.alertContentText"></p>
                </al-tips-alerts>
                <p class="al-lead-in al-padding-top-1x" [innerHTML]="data.chooseHowMuchToRollOver?.taxConsiderationHeaderText">
                </p>
                <p [innerHTML]="data.chooseHowMuchToRollOver?.taxConsiderationContentText | UISafe:'html'"></p>
                <p class="al-lead-in" [innerHTML]="data.chooseHowMuchToRollOver?.otherDeductionsHeaderText">
                </p>
                <p [innerHTML]="data.chooseHowMuchToRollOver?.otherDeductionsContentText | UISafe:'html'"></p>
                <ng-container *ngFor="let paymentTableItem of data.chooseHowMuchToRollOver?.paymentTable; let i = index">                
                  <h2 id="paymentTitle_{{paymentTableItem?.paymentId}}" [innerHTML]="paymentTableItem?.paymentDescription"></h2>
                  <table summary="data.chooseHowMuchToRollOver?.accessibilityTexts?.titlePlanTable"
                    class="al-table al-table-responsive">
                    <thead>
                      <tr>
                        <th class="al-w25" [innerHTML]="paymentTableItem?.planHeaderText"></th>
                        <th class="al-w25" [innerHTML]="paymentTableItem?.electionHeaderText"></th>
                        <th class="al-w25" [innerHTML]="paymentTableItem?.optionalFormHeaderText"></th>
                        <th class="al-w25 al-text-align-right" [innerHTML]="paymentTableItem?.paymentHeaderText"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let paymentTableContentItem of paymentTableItem?.paymentTableContentData">
                        <td id="plan_{{paymentTableContentItem?.planId}}_{{paymentTableContentItem?.electionId}}_{{paymentTableContentItem?.electionGroupId}}">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w50 al-480-w50 al-320-w50 al-hidden-gt720 al-hidden-960">
                              <strong [innerHTML]="paymentTableItem.planHeaderText"></strong>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50"
                              [innerHTML]="paymentTableContentItem.planDescription"></div>
                          </div>
                        </td>
                        <td id="beneFit{{paymentTableContentItem?.planId}}_{{paymentTableContentItem?.electionId}}_{{paymentTableContentItem?.electionGroupId}}">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w50 al-480-w50 al-320-w50 al-hidden-gt720 al-hidden-960">
                              <strong [innerHTML]="paymentTableItem.electionHeaderText"></strong>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50"
                              [innerHTML]="paymentTableContentItem.electionDescription"></div>
                          </div>
                        </td>
                        <td id="paymentForm{{paymentTableContentItem?.planId}}_{{paymentTableContentItem?.electionId}}_{{paymentTableContentItem?.electionGroupId}}">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w50 al-480-w50 al-320-w50 al-hidden-gt720 al-hidden-960">
                              <strong [innerHTML]="paymentTableItem.optionalFormHeaderText"></strong>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-margin-bottom-1x"
                              [innerHTML]="paymentTableContentItem.optionalFormDescription">
                            </div>
                            <table  class='tax-nontax-table' *ngIf="paymentTableItem?.isShowTaxNonTaxAmt">
                              <tbody>
                              <tr>
                                <td  [innerHTML]="paymentTableContentItem?.taxableAmountDescription">
                                  </td>
                                  <td class="txtrig al-text-align-right" [innerHTML]="paymentTableContentItem.optionalFormTaxableAmt" >
                                  </td>
                                </tr>
                                <tr>
                                  <td  [innerHTML]="paymentTableContentItem?.nonTaxableAmountDescription">  
                                    </td>
                                    <td class="txtrig al-text-align-right" [innerHTML]="paymentTableContentItem.optionalFormNonTaxableAmt">
                                </td>
                            </tr>
                            </tbody>
                            </table>                             
                          </div>
                        </td>
                        <td id="paymentAmt{{paymentTableContentItem?.planId}}_{{paymentTableContentItem?.electionId}}_{{paymentTableContentItem?.electionGroupId}}">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w50 al-480-w50 al-320-w50 al-hidden-gt720 al-hidden-960">
                              <strong [innerHTML]="paymentTableItem.paymentHeaderText"></strong>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-gt720 al-text-align-left"
                              [innerHTML]="paymentTableContentItem.optionalFormGrossAmt"></div>
                              <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-gt720 al-text-align-left"
                              [innerHTML]="paymentTableContentItem.labelFrequencyId"></div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-lt720 al-text-align-right"
                              [innerHTML]="paymentTableContentItem.optionalFormGrossAmt"></div>
                              <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-lt720 al-text-align-right"
                              [innerHTML]="paymentTableContentItem.labelFrequencyId"></div>
                          </div>
                        </td>
                      </tr>
                      <tr class="grossdetails" *ngIf="paymentTableItem?.paymentTableContentData.length > 1">
                        <td colspan="3" id="paymentGrsAmtTitle_{{paymentTableItem?.paymentId}}" class="al-lead-in">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w50 al-480-w50 al-320-w50 al-hidden-gt720 al-hidden-960 ">
                              <strong [innerHTML]="paymentTableItem.rowHeaderText"></strong>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-gt720 ">
                              <h3 class="al-lead-in" [innerHTML]="paymentTableItem.totalGrossAmount"></h3>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-lt720">
                              <div class="al-lead-in" [innerHTML]="paymentTableItem.rowHeaderText"></div>
                            </div>
                          </div>
                        </td>
                        <td id="paymentGrsAmt_{{paymentTableItem?.paymentId}}" class="al-lead-in">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-lt720 ">
                              <div class="al-lead-in al-text-align-right" [innerHTML]="paymentTableItem.totalGrossAmount"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr class="brand-highlight-5">
                        <td colspan="3" id="paymentTotalAmtTitle_{{paymentTableItem?.paymentId}}">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w50 al-480-w50 al-320-w50 al-hidden-gt720 al-hidden-960">
                              <strong [innerHTML]="paymentTableItem.rowContentText"></strong>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-gt720">
                              <h3 [innerHTML]="paymentTableItem.totalRollOverAvailableAmount"></h3>
                            </div>
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-lt720">
                              <div [innerHTML]="paymentTableItem.rowContentText"></div>
                            </div>
                          </div>
                        </td>
                        <td id="paymentTotalAmt_{{paymentTableItem?.paymentId}}" class="al-lead-in">
                          <div class="al-gutter-row">
                            <div class="al-gutter-col al-w100 al-480-w50 al-320-w50 al-hidden-lt720">
                              <div class="al-text-align-right">{{paymentTableItem.totalRollOverAvailableAmount}}</div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="al-padding-left-1x" id="paymentRolloverAmt_{{paymentTableItem?.paymentId}}">
                    <h3 [innerHTML]="paymentTableItem?.sectionTitleText"></h3>
                    <p [innerHTML]="paymentTableItem?.sectionContentText"></p>
                    <div class="radiobutton al-padding-bottom-1x">
                      <p-radioButton class="label-inline al-v-align-middle" name="payment_{{paymentTableItem.paymentId}}"
                        formControlName="label_{{paymentTableItem.paymentId}}"
                        value="{{paymentTableItem.allAmountRadioButtonText}}" 
                        [(ngModel)]="paymentTableItem.selectedRadioButton"
                        (ngModelChange)="onChange()"
                        inputId="payment_{{paymentTableItem.paymentId}}_{{paymentTableItem.allAmountRadioButtonText}}"
                        >
                      </p-radioButton>
                      <label class="label-inline"
                        for="payment_{{paymentTableItem.paymentId}}_{{paymentTableItem.allAmountRadioButtonText}}"
                        [innerHTML]="paymentTableItem.allAmountRadioButtonText">
                      </label>
                    </div>
                    <div *ngIf="data.chooseHowMuchToRollOver.isRtrmChPrtlRlvrAlwd" class="radiobutton">
                      <span>
                        <p-radioButton class="label-inline al-v-align-middle" name="payment_{{paymentTableItem.paymentId}}"
                          formControlName="label_{{paymentTableItem.paymentId}}"
                          value="{{paymentTableItem.specificAmountRadioButtonText}}"
                          [(ngModel)]="paymentTableItem.selectedRadioButton"
                        (ngModelChange)="onChange()"
                          inputId="payment_{{paymentTableItem.paymentId}}_{{paymentTableItem.specificAmountRadioButtonText}}">
                        </p-radioButton>
                        <label class="label-inline"
                          for="payment_{{paymentTableItem.paymentId}}_{{paymentTableItem.specificAmountRadioButtonText}}"
                          [innerHTML]="paymentTableItem.specificAmountRadioButtonText">
                        </label>
                      </span>
                      <!-- [disabled]="paymentTableItem.specificAmountRadioButtonText === paymentTableItem.selectedRadioButton?false:true"  -->
                      <span class="al-padding-left-2x al-nowrap" ><span class="al-lead-in al-padding-right-1x" *ngIf="data?.chooseHowMuchToRollOver?.symbolText && defaultLocale" [innerHTML]="data?.chooseHowMuchToRollOver?.symbolText | UISafe: 'html'"></span>
                      
                      <input
                          class="al-input-14-char" type="text"
                          id="electedrolloveramount_{{paymentTableItem.paymentId}}"
                          formControlName = "electedrolloveramount_{{paymentTableItem.paymentId}}"
                          [(ngModel)] = "paymentTableItem.unformatElectedRolloverAmount"
                          pInputText [value]="paymentTableItem.unformatElectedRolloverAmount"/>
                          <span class="al-lead-in al-padding-left-1x" *ngIf="data?.chooseHowMuchToRollOver?.symbolText && !defaultLocale" [innerHTML]="data?.chooseHowMuchToRollOver?.symbolText | UISafe: 'html'"></span>
                       <label class="visuallyhidden"
                          for="electedrolloveramount_{{paymentTableItem.paymentId}}"
                          [innerHTML]="paymentTableItem.specificAmountRadioButtonText">
                      </label>
                      </span>
                    </div>
                    <div class="radiobutton al-padding-bottom-1x">
                      <p-radioButton class="label-inline al-v-align-middle" name="payment_{{paymentTableItem.paymentId}}"
                        formControlName="label_{{paymentTableItem.paymentId}}" value="{{paymentTableItem.noneRadioButtonText}}"
                        [(ngModel)]="paymentTableItem.selectedRadioButton"
                        (ngModelChange)="onChange()"
                        inputId="payment_{{paymentTableItem.paymentId}}_{{paymentTableItem.noneRadioButtonText}}">
                      </p-radioButton>
                      <label class="label-inline"
                        for="payment_{{paymentTableItem.paymentId}}_{{paymentTableItem.noneRadioButtonText}}"
                        [innerHTML]="paymentTableItem.noneRadioButtonText">
                      </label>
                    </div>
                  </div>
                  <hr>
                </ng-container>
                <ng-container *ngIf="data?.chooseHowMuchToRollOver?.isRlvrNtwrElig!==undefined && data?.chooseHowMuchToRollOver?.isRlvrNtwrElig==true">
                  <div *ngIf="data?.chooseHowMuchToRollOver?.hasRlvrAddrOnFile!==undefined && data?.chooseHowMuchToRollOver?.hasRlvrAddrOnFile==false" class="al-padding-left-1x">
                    <al-tips-alerts [tipText]="'!'" [tipType]="'action'" [tipSize]="'medium'"
                      [displayText]="data?.chooseHowMuchToRollOver?.rolloverAlertContent?.rollOverAlertTitleText">
                      <p [innerHTML]="data?.chooseHowMuchToRollOver?.rolloverAlertContent?.rollOverAlertBodyText"></p>
                      <button pButton type="button" [label]="data?.chooseHowMuchToRollOver?.rolloverAlertContent?.setUpAcctWMSIButtonText"
                        [title]="data?.chooseHowMuchToRollOver?.rolloverAlertContent?.setUpAcctWMSIButtonText"
                        class="al-margin-bottom-1x al-button-neutral al-button-medium"
                        (click)="setUpAccount()"
                      >
                      </button>
                      <span id="setUpAccount"
                        [innerHTML]="data?.chooseHowMuchToRollOver?.rolloverAlertContent?.setUpAcctWMSILink | UISafe:'html'"
                        hidden>
                      </span>
                    </al-tips-alerts>
                  </div>
                  <hr *ngIf="data?.chooseHowMuchToRollOver?.rolloverAlertContent?.rollOverAlertTitleText">
                </ng-container>
                
                <p [innerHTML]="data.chooseHowMuchToRollOver?.rolloverNoteText | UISafe:'html'"></p>
                <hr class="al-padding-bottom-1x">
                <al-loading-indicator id="pagelevel" loadingType="pageLevel" [initialShow]="false" loadingText="loading"></al-loading-indicator>
                <!-- DB CASHOUT COMPONENT BUTTON START -->
                <div *ngIf="isDbCashoutFlag">
                  <button *ngIf="data?.continueButtonLabel" pButton type="button" label="{{data?.continueButtonLabel}}" title="{{data?.continueButtonLabel}}"
                    (click)="continueClick(true, true)" class="al-button-positive al-button-large"></button>
                  <button *ngIf="data?.cancelButtonLabel" pButton type="button" label="{{data?.cancelButtonLabel}}" title="{{data?.cancelButtonLabel}}"
                    (click)="aldialogCancel.showDialog($event)" class="al-button-neutral al-button-large"></button>
                
                  <al-dialog #aldialogCancel [(visible)]="display" styleClass="al-spacing al-font-change" width="506">
                    <div class="al-margin-bottom-1x">
                      <h3 *ngIf="data?.cancelModalContent?.cancelHeading">{{data?.cancelModalContent?.cancelHeading}}</h3>
                    </div>
                    <button *ngIf="data?.cancelModalContent?.yesButton" pButton type="button" class="al-button-positive al-button-large" title="{{data?.cancelModalContent?.yesButton}}"
                      label="{{data?.cancelModalContent?.yesButton}}" (click)="redirectToCancelledPage($event)"></button>
                    <button *ngIf="data?.cancelModalContent?.noButton" pButton type="button" label="{{data?.cancelModalContent?.noButton}}" title="{{data?.cancelModalContent?.noButton}}"
                      (click)="aldialogCancel.hideDialog($event)" class="al-button-neutral al-button-large"></button>
                  </al-dialog>
                </div>
                <!-- DB CASHOUT COMPONENT BUTTON END -->
                <div *ngIf="!isDbCashoutFlag">
                  <button pButton type="button" [label]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[0].label"
                    [title]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[0].label"
                    class="al-button-positive al-button-large al-margin-bottom-1x" (click)="continueClick(true, false)">
                  </button>
                  <button pButton *ngIf="!isBackButton && showCBLButton" type="button" (click)="continueClick(false, false)"
                      [label]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[1].label"
                      [title]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[1].label"
                      class="al-button-neutral al-button-large al-margin-bottom-1x al-margin-lft-rit-8">
                  </button>
                  <button pButton *ngIf="isBackButton" type="button" (click)="redirectBack()"
                      [label]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[3].label"
                      [title]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[3].label"
                      class="al-button-neutral al-button-large al-margin-bottom-1x al-margin-lft-rit-8">
                  </button>
                  <button *ngIf="showQuitButton" pButton type="button" [label]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[2].label"
                    [title]="data.chooseHowMuchToRollOver.flowButtonNavigation?.buttonList[2].label"
                    class="al-button-neutral al-button-large al-margin-bottom-1x" (click)="quitModal.showDialog($event)">
                  </button>
        
               <al-loading-indicator id="saveServiceLoader" loadingType="pageLevel" [initialShow]="false" loadingText="loading"></al-loading-indicator>
              
                  <al-dialog #quitModal [(visible)]="display" width="650">
                    <h2 class="al-padding-bottom-1x"
                      *ngIf="data?.chooseHowMuchToRollOver?.flowButtonNavigation?.quitModalContent?.title">
                      {{data.chooseHowMuchToRollOver.flowButtonNavigation.quitModalContent.title}}</h2>
                      <div *ngFor="let quitModaltext of data?.chooseHowMuchToRollOver?.flowButtonNavigation?.quitModalContent?.bodyList; let r = index">
                        <ng-container *ngIf="!showCBLButton && quitModaltext?.action === 'comeBackLater' else elseBlock"></ng-container>
                        <ng-template #elseBlock>
                            <h5><b [innerHTML]="quitModaltext?.heading"></b></h5>
                            <p [innerHTML]="quitModaltext?.paragraph"></p>
                        </ng-template>
                      </div>
                    <hr class="al-padding-bottom-1x">
                   
                      <button *ngIf="showCBLButton && data?.chooseHowMuchToRollOver?.flowButtonNavigation.quitModalContent.buttonList[0].label" type="button" class="al-button-positive al-button-large al-margin-top-1x al-rew-pointer" pButton
                        (click)="continueClick(false, false);quitModal.hideDialog($event)"
                        [label]="data?.chooseHowMuchToRollOver?.flowButtonNavigation?.quitModalContent?.buttonList[0].label"></button>
        
                      <button pButton *ngIf="data?.chooseHowMuchToRollOver?.flowButtonNavigation.quitModalContent.buttonList[1].label"
                      [title]="data?.chooseHowMuchToRollOver?.flowButtonNavigation.quitModalContent.buttonList[1].label" type="button" (click)="checkPreActivityEdit();quitModal.hideDialog($event)"
                        [label]="data?.chooseHowMuchToRollOver?.flowButtonNavigation?.quitModalContent.buttonList[1].label"
                        class="al-button-neutral al-button-large al-margin-top-1x al-rew-pointer"></button>
        
                    <button pButton type="button" (click)="quitModal.hideDialog($event)"
                      *ngIf="data?.chooseHowMuchToRollOver?.flowButtonNavigation.quitModalContent.buttonList[2].label"
                      [label]="data?.chooseHowMuchToRollOver?.flowButtonNavigation.quitModalContent.buttonList[2].label"
                      class="al-button-neutral al-button-large al-margin-top-1x al-rew-pointer"></button>
                  </al-dialog>
                </div>
            </form>
        </div>
      </div>
      <!-- DB CASHOUT AND DB NQE COMPONENT RIGHT RAIL START -->
    <div *ngIf="isDbCashoutFlag && !showError" class="portlet-column al-u-6-16 al-u-2-2 al-u-4-4">
        <al-dbcnq-right-rail [isDbCashoutFlag]="isDbCashoutFlag"></al-dbcnq-right-rail>
    </div>
    <!-- DB CASHOUT AND DB NQE COMPONENT RIGHT RAIL END -->
    <al-right-side-components *ngIf="!isDbCashoutFlag"></al-right-side-components>
</div>
</ng-container>