<!-- DB CASHOUT AND DB NQE COMPONENT PROGRESS BAR START -->
<ng-container *ngIf="checkResponse && !showError && (isDbCashoutFlag || isDbNQFlag)">
    <al-dbcnq-progress-bar></al-dbcnq-progress-bar>
</ng-container>

<ng-container *ngIf="showError && (isDbCashoutFlag || isDbNQFlag) && checkResponse">
    <al-error></al-error>
</ng-container>
<!-- DB CASHOUT AND DB NQE COMPONENT PROGRESS BAR END -->
<ng-container *ngIf="!checkResponse">
        <al-loading-indicator
            id="pagelevel"
            loadingType="pageLevel"
            [initialShow]="true"
            loadingText="loading">
        </al-loading-indicator>
</ng-container>
    <div *ngIf="checkResponse" id="authorizationcomplete" class="al-font-change al-spacing">
        <div class="al-u-10-16 al-480-w100 al-320-w100 al-720-w100">
            <div id="completedHeader">
                <h1 class="al-margin-bottom-0" [innerHTML]="data?.submittedSuccessfullyHeader?.pageNameText"></h1>
            </div>
            <p *ngIf="isDbNQFlag && data?.headerPlaceHolder" [innerHTML]="data?.headerPlaceHolder | UISafe: 'html'"></p>
            <div *ngIf="showError && !isDbCashoutFlag && !isDbNQFlag"> <al-error></al-error> </div>
            <!-- start tip tooltip and content here  -->
            <div *ngIf="!showError">
                    <p *ngIf="!isDbCashoutFlag && !isDbNQFlag " class="al-lead-in" [innerHTML]="data?.submittedSuccessfullyHeader?.confirmationNumberText | UISafe:'html'"></p>
                    <ng-container *ngIf="data?.submittedSuccessfullyHeader?.emailConfirmationText && (isDbCashoutFlag || isDbNQFlag)">
                        <p *ngFor="let emailText of data?.submittedSuccessfullyHeader?.emailConfirmationText">
                            <span [innerHTML]="emailText | UISafe:'html'"></span>
                        </p>
                    </ng-container>
                    <p *ngIf="data?.submittedSuccessfullyHeader?.completeEmailText || data.submittedSuccessfullyHeader.completePrintText || data?.submittedSuccessfullyHeader?.completeRecordsText">
                            {{data?.submittedSuccessfullyHeader?.completeEmailText}}
                            <a [title]="data.submittedSuccessfullyHeader.completePrintText" href="javascript:window.print();" (click)="authToggleAll()">{{ data?.submittedSuccessfullyHeader?.completePrintText }}</a>
                            {{data?.submittedSuccessfullyHeader?.completeRecordsText}}
                    </p>
                    <p *ngIf="data?.submittedSuccessfullyHeader?.completePostalText"  [innerHTML]="data?.submittedSuccessfullyHeader?.completePostalText | UISafe: 'html'">
                    </p>
                    <p *ngIf="data?.submittedSuccessfullyHeader?.alsoReceiveHeader" [innerHTML]="data?.submittedSuccessfullyHeader?.alsoReceiveHeader | UISafe: 'html'"></p>
                    <ul *ngIf="data?.submittedSuccessfullyHeader">
                        <li *ngIf="data?.submittedSuccessfullyHeader?.alsoReceiveEmail">{{data?.submittedSuccessfullyHeader?.alsoReceiveEmail}}</li>
                        <li *ngIf="data?.submittedSuccessfullyHeader?.alsoReceiveText">{{data?.submittedSuccessfullyHeader?.alsoReceiveText}}</li>
                    </ul>
                    <p *ngIf="data?.submittedSuccessfullyHeader?.alsoReceiveEmailNotice" [innerHTML]="data?.submittedSuccessfullyHeader?.alsoReceiveEmailNotice | UISafe: 'html'"></p>
                    <p *ngIf="data?.submittedSuccessfullyHeader?.alsoReceiveTextNotice" [innerHTML]="data?.submittedSuccessfullyHeader?.alsoReceiveTextNotice | UISafe: 'html'"></p>
                    <p *ngIf="data?.submittedSuccessfullyHeader?.cancelText" class="al-padding-1x" [innerHTML]="data?.submittedSuccessfullyHeader?.cancelText | UISafe:'html'"></p>
                    <p *ngIf="data?.submittedSuccessfullyHeader?.statusTrackerTextLink" [innerHTML]="data?.submittedSuccessfullyHeader?.statusTrackerTextLink | UISafe:'html'"></p>
                    <hr>
                    <al-authorization-common [isCashoutFlag]="isDbCashoutFlag" [isNQFlag]="isDbNQFlag"></al-authorization-common>
                    <al-beneficiaries *ngIf="!isDbCashoutFlag && !isDbNQFlag"></al-beneficiaries>
                    <al-payment-review [isCashoutFlag]="isDbCashoutFlag" [isNQFlag]="isDbNQFlag" [showLearnLink]=false></al-payment-review> 
                    <div #rtrAcctLock>                
                        <al-accountlock-status [attr.pageInputParam] = pageInputParam (servCallStatus) ="getAccountLockData($event)"></al-accountlock-status>
                    </div>
                    <al-footnote *ngIf="!isDbCashoutFlag && !isDbNQFlag"></al-footnote>
                    <p *ngIf="isDbNQFlag && data?.footerPlaceHolder" [innerHTML]="data?.footerPlaceHolder | UISafe: 'html'"></p>
            </div>  
        </div>
        <!-- DB CASHOUT AND DB NQE COMPONENT RIGHT RAIL START -->
        <div *ngIf="!showError && (isDbCashoutFlag || isDbNQFlag)" class="portlet-column al-u-6-16 al-u-2-2 al-u-4-4">
            <al-dbcnq-right-rail></al-dbcnq-right-rail>
        </div>
        <!-- DB CASHOUT AND DB NQE COMPONENT RIGHT RAIL END -->
        <al-right-side-components *ngIf="!isDbCashoutFlag && !isDbNQFlag"></al-right-side-components>
    </div>